* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;   
    background-color: white;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(215,229,241);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 5rem;
    min-width: 700px;
}

header h1 {
    color: rgb(69,110,173);
}

.fa-check {
    color: green;
    font-size: 1.5rem;
}

.headerImg {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
}

nav {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
}

nav a {
    color: rgb(69,110,173);
    border-right: 2px solid rgb(69,110,173);
    padding: 0.2rem;
}

nav .last {
    border-right: none;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
    min-width: 700px;
}

.index {
    background-color: rgb(215,229,241);
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
}

.index div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 7rem;
}

.index a {
    padding: 0.2rem;
    background-color: rgb(69,110,173);
    color: rgb(215,229,241);
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid rgb(69,110,173);
}

.index a:hover {
    color: rgb(69,110,173);
    background-color: rgb(215,229,241);
    border: 2px solid rgb(69,110,173);
}

.createAccountEmail {
    background-color: rgb(215,229,241);
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
}

.createAccountEmail p {
    padding: 1rem;
}

.createAccountEmail form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    height: 7rem;
}

.createAccountEmail label {
    color: rgb(69,110,173);
    margin: 0.2rem;
}

.createAccountEmail .row {
    display: flex;
    align-items: center;
}

.createAccountEmail i {
    color: rgb(69,110,173);
    font-size: 1.5rem;
}

.login {
    background-color: rgb(215,229,241);
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
}

.altHeader {
    text-align: center;
    color: rgb(215,229,241);
    background-color: rgb(69,110,173);
    margin: 0;
    padding: 1rem 0;
    width: 100%;
}

.login form {
    margin: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(69,110,173);
}

.login i {
    color: rgb(69,110,173);
    font-size: 1.5rem;
}

.login .row {
    margin-bottom: 1rem;
    justify-content: left;
}

.login .lastrow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login .lastrow a {
    margin: 1rem 0 1rem 0;
    color: rgb(69,110,173);
}

#submit {
    border: none;
    width: 9rem;
    height: 2rem; 
    background-color: rgb(69,110,173);
    color: rgb(215,229,241);
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid rgb(69,110,173);
}

#submit:hover {
    color: rgb(69,110,173);
    background-color: rgb(215,229,241);
    border: 2px solid rgb(69,110,173);
}

.courses table {
    text-align: center;
}

td, th {
    padding: 0.3rem
}

#addCourse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profHome {
    width: 80%;
    max-width: 1000px;
}

.profHome h2 {
    margin-bottom: 1rem;
}

.headercell {
    background-color: rgb(215,229,241);
    color: rgb(69,110,173);
    padding: 0.3rem;
}

.profHome .row {
    border-top: 2px solid black;
}

.buttonLink {
    background-color: #383838;
    color: white;
    flex: 1;
    text-align: center;
    padding: 0.2rem;
    border-radius: 2px;
    border: 2px solid #383838;
}

.buttonLink:hover{
    background-color: white;
    color: #383838;
    
}

.buttonLink i {
    margin-left: 0.2rem;
}

.profHome .row h3 {
    flex: 5;
}

.stuHome {
    width: 80%;
    max-width: 1000px;
}

.row {
    display: flex;
    align-items: center;
    padding: 0.3rem;
}

.funcs {
    margin-bottom: 1.5rem;
    border: 2px solid black;
}

.students {
    display: flex;
    align-items:flex-start;
    width: 80%;
    max-width: 1000px;
}

.filter {
    flex: 1;
}

.data {
    flex: 2;
    margin-left: 2rem;
}

.data table {
    width: 100%;
}

.filter {
    border: 2px solid black;
}

.filter .body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.filter .row {
    margin: 1rem 0 1rem 0;
}

.filter .sort {
    display: flex;
    flex-direction: column;
}

thead {
    background-color: rgb(215,229,241);
    color: rgb(69,110,173);
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
}

.assignEval {
    width: 60%;
    max-width: 500px;
    border: 2px solid black;
}

.assignEval form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.assignEval .row {
    margin: 1.2rem;
}

.assignEval .textarea {
    display: flex;
    align-items: flex-start;
}

.assignEval label {
    margin-right: 0.2rem;
}

.evalSuccess {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.evalSuccess a {
    padding: 0.2rem;
    background-color: rgb(69,110,173);
    color: rgb(215,229,241);
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid rgb(69,110,173);
    margin: 0.3rem;
}

.evalSuccess a:hover {
    color: rgb(69,110,173);
    background-color: rgb(215,229,241);
    border: 2px solid rgb(69,110,173);
}

.addGroup {
    width: 60%;
    max-width: 500px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addGroup form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addGroup .students {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.addGroup .row {
    margin: 0.5rem;
}


#error {
    color: red;
}

.groups {
    display: flex;
    align-items: flex-start;
    width: 80%;
    max-width: 1000px;
}

#detailHeader {
    border-top: 2px solid black;
}

.detailData {
    margin: 1rem;
}

.studentList {
    margin-left: 1rem;
}

.buttonCell {
    text-align: center;
}

.pageHeader {
    width: 100%;
    background-color: rgb(215,229,241);
    color: rgb(69,110,173);
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: 2px solid black;
}

.btn {
    border: none;
    width: 9rem;
    height: 2rem; 
    background-color: rgb(69,110,173);
    color: rgb(215,229,241);
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid rgb(69,110,173);
}

.btn:hover {
    color: rgb(69,110,173);
    background-color: rgb(215,229,241);
    border: 2px solid rgb(69,110,173);
}

.createAccount {
    width: 60%;
    max-width: 700px;
    background-color: rgb(215,229,241);
    display: flex;
    align-items: center;
    flex-direction: column;
}



.createAccount form {
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: rgb(69,110,173);
}

.createAccount .helpText {
    display: block;
    font-size: smaller;
}

.createAccount .helpText ul {
    margin-left: 1rem;
}

.createAccount .row {
    margin: 1rem 0 1rem 0;
}

.createAccount .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.stuHome .results .inner {
    border: 2px solid black;
    width: 30rem;
}

.stuHome .results {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.stuHome .row h3 {
    flex: 5;
}

.stuHome .row .buttonLink {
    flex: 1;
}

.stuHome table {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0 1.5rem 0;
}

.stuHome table .group {
    text-align: left;
}

.stuHome td {
    padding: 0.7rem;
}



