* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;   
    background-color: white;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(215,229,241);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 5rem;
}

header h1 {
    color: rgb(69,110,173);
}

header img {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
}

nav {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
}

nav a {
    color: rgb(69,110,173);
    border-right: 2px solid rgb(69,110,173);
    padding: 0.2rem;
}

nav .last {
    border-right: none;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
}

.login {
    background-color: rgb(215,229,241);
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
}

.login h3 {
    text-align: center;
    color: rgb(215,229,241);
    background-color: rgb(69,110,173);
    margin: 0;
    padding: 1rem 0;
    width: 100%;
}

.login form {
    margin: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(69,110,173);
}

.login i {
    color:black;
    font-size: 1.5rem;
}

.login .row {
    margin-bottom: 1rem;
    justify-content: left;
}

.login .lastrow {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login .lastrow a {
    margin: 1rem 0 1rem 0;
    color: rgb(69,110,173);
}

#submit {
    border: none;
    width: 9rem;
    height: 2rem; 
    background-color: rgb(69,110,173);
    color: rgb(215,229,241);
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid rgb(69,110,173);
}

#submit:hover {
    color: rgb(69,110,173);
    background-color: rgb(215,229,241);
    border: 2px solid rgb(69,110,173);
}

.courses table {
    text-align: center;
}

td, th {
    padding: 0.3rem
}

#addCourse {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profHome {
    width: 80%;
    max-width: 1000px;
}

.profHome h2 {
    margin-bottom: 1rem;
}

.headercell {
    background-color: rgb(215,229,241);
    color: rgb(69,110,173);
}

.profHome .row {
    border-top: 2px solid black;
}

.profHome .row a{
    background-color: #383838;
    color: white;
    flex: 1;
    text-align: center;
    padding: 0.2rem;
    border-radius: 2px;
    border: 2px solid #383838;
}

.profHome .row a:hover{
    background-color: white;
    color: #383838;
    
}

.profHome .row i {
    margin-left: 0.2rem;
}

.profHome .row h3 {
    flex: 5;
}

.funcs div {
    display: flex;
    align-items: center;
    padding: 0.3rem;
}

.funcs {
    margin-bottom: 1.5rem;
    border: 2px solid black;
}


